/* src/components/Header.css */

.App-header {
    background-color: #333;
    padding: 1rem;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    background-color: #575757;
  }
  