.App-header {
  background-color: #282c34;
  min-height: 70vh; /* 상단 공간을 줄이기 위해 높이 조정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* 여백 추가 */
}

.content {
  min-height: 30vh; /* 아래 콘텐츠 영역 높이 조정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 콘텐츠 상단 정렬 */
}