/* General layout for the header and navigation */
.App-header {
  background-color: grey;
  padding: 0.5rem 1rem; /* 적절한 상하 패딩 설정 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* 로고와 내비게이션을 양쪽에 배치 */
  align-items: center;
  height: auto;
}

.App-header .logo {
  margin-right: auto;
}

.App-header nav {
  display: flex;
  gap: 1.5rem; /* 내비게이션 항목들 간의 간격 설정 */
}

/* Navigation links */
.App-header nav a, .App-header nav button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem; /* 버튼과 링크의 패딩을 통일 */
}

.App-header nav a:hover, .App-header nav button:hover {
  text-decoration: underline;
  color: #21a1f1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* 모든 항목을 수평으로 나열 */
}

nav li {
  margin: 0 10px;
}

/* Location button styling */
nav button {
  background-color: #61dafb;
  color: white;
  border-radius: 5px;
  border: none;
}

nav button:hover {
  background-color: #21a1f1;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ffffff, #46423f);
  font-family: 'Arial', sans-serif;
  color: black;
}

/* Main content area */
.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

.content {
  padding: 20px;
}

/* Responsive adjustments for mobile devices */
@media only screen and (max-width: 768px) {
  .App-header {
    flex-direction: column; /* 모바일에서는 세로 정렬 */
    padding: 0.5rem;
  }

  .App-header nav {
    margin-top: 10px; /* 로고와 내비게이션 간격 조정 */
  }

  .App {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  header, footer {
    font-size: 14px; /* 모바일에서 글자 크기 조정 */
  }
}
